body {
    background-color: #2c2736;
    color: beige;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#console {
    background-color: #342d42;
    font-family: monospace;
    width: 70%;
    height: 24em;
    border-radius: 3px;
    padding: 10px;
    margin: auto;
}