body {
    background-color: #0C2D48;
    color: #B1D4E0;
    font-family: sans-serif;
    overflow: hidden;
    
}

img {
    border-radius: 10px;
    width: 480px;
    height: auto;
}

#content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#weekday {
    color: orange;
    text-shadow: 4px 4px 8px #0a161f;
    font-weight: bolder;
}